<div class="flex h-screen flex-col md:flex-row">
  <div class="flex-1 flex flex-col bg-gray-100">
    <header class="bg-white shadow p-4">
      <app-header></app-header>
    </header>

    <main class="flex-1 p-4 grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="bg-white shadow rounded-lg p-4 col-span-1">
        <h2 class="text-lg font-semibold mb-4">Investor Information</h2>
        <app-investor-data></app-investor-data>
      </div>

      <div class="bg-white shadow rounded-lg p-4 col-span-1 md:col-span-2">
        <div class="block md:hidden justify-center items-center">
          <p class="text-base text-gray-600 mb-4">
            Please enter the details and click on
            <span class="font-semibold">"Calculate Growth"</span>.
          </p>
        </div>
        <app-investment-data></app-investment-data>
      </div>
    </main>
  </div>
</div>
